
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1478720568477-152d9b164e26?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);">
  <div class="container">
  <h1>All Movie Lists</h1>
    <p>user-generated lists of hand-selected films that fulfill your cinematic cravings</p>
<%= link_to "Curate your own list", new_list_path, class: "btn btn-ghost" %>
  </div>
</div>


<div class="lists-section">

  <% @lists.each do |list| %>
    <div class="cards card-item">
      <div class="card-category">
        <% if list.photo.attached? %>
          <%= cl_image_tag(list.photo.key, class: 'card-image') %>
        <% else %>
          <%= image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU', class: 'card-image' %>
        <% end %>
        <div class="card-title">
          <%= link_to list.name, list_path(list) %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%# <div class="container">
  <% @lists.each do |list| %>
<%# <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU' %>
    <%# <h1><%= link_to list.name, list_path(list) %>
<%# </div> %>
  <%# <% end %>
<%# </div> %>
