<h1><%= @list.name %></h1>

<div>
  <%= link_to "Add a movie", new_list_bookmark_path(@list) %>
</div>

<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
    <% @list.bookmarks.each do |bookmark| %>
      <h2><%= bookmark.movie.title %></h2>
      <%= link_to 'ðŸ—‘ï¸',
        bookmark_path(bookmark),
        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
        class: 'btn btn-success'
      %>
      <p><%= bookmark.movie.overview %></p>
      <% end %>
    </div>
  <%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
  </div>
</div>

<div>
  <%= link_to "Back to lists", lists_path %>
</div>
